* {
  padding: 0;
  margin: 0;
}

.card_content {
  background: linear-gradient(180deg,
      hsla(0, 0%, 0%, 0.144) 0%,
      hsla(0, 0%, 0%, 0.397) 10%,
      hsl(0, 0%, 0%) 100%)
}

.card:hover {

  .avatar:hover,
  .avatar:focus-within {
    @apply transition-transform duration-300 ease-[ease-in] scale-100;
  }

  .card_content {
    height: fit-content;
  }
}

@media (any-hover: hover) and (any-pointer: fine) {

  .card:hover,
  .card:focus-within {
    @apply transition-transform duration-300 ease-[ease-in] scale-105;
  }
}

@media (min-width:150px) and (max-width: 290px) {
  .card_content {
    height: 12rem;
  }
}
