@tailwind base;
@tailwind components;
@tailwind utilities;

#container ol {
  list-style: decimal;
  padding-left: 1rem;
}
#container ul {
  list-style: disc;
  padding-left: 1rem;
}
#container img {
  width: 100% !important;
  margin: 12px 0;
  border-radius: 12px;
}
#container a {
  text-decoration: underline;
  color: rgb(2, 89, 170);
}

#container .code-toolbar {
  border-radius: 8px;
  width: 60vw;
  line-height: 1.5;
  overflow-x: auto;
  max-height: 65vh;
  overflow-y: auto;
  background-color: rgb(29, 29, 29);
  background-position: 23px;
}
.code-toolbar pre {
  /* width: 90%; */
  color: white;
  /* filter: invert(-1); */
  padding-left: 1rem;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none !important;
}

#container h2 {
  font-size: 2rem !important;
}
#container h3 {
  font-size: 1.5rem !important;
}
#container h4 {
  font-size: 1rem !important;
}
#container h5 {
  font-size: 0.5rem !important;
}

#container h6 {
  font-size: 0.25rem !important;
}
#container img {
  height: 100%;
}

.code-toolbar pre {
  margin-left: 0.1rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(219, 217, 217);
  border-radius: 2px;
}

::-webkit-scrollbar {
  height: 0.3rem;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  #container .code-toolbar {
    width: 95vw;
  }
  #container .img {
    padding: 0px 1rem;
  }
}
@media screen and (max-width: 920px) and (min-width: 800px) {
  #container .code-toolbar {
    width: 88vw;
  }
}
