@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ubuntu' !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #787879;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@media (max-width:780px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width:800px) and (max-width:1570px) {
  .ml_20 {
    margin-right: 80px;
  }
}

@media (min-width:1570px) and (max-width:2060px) {
  .ml_20 {
    margin-right: 40px;
  }
}


.imp-light {
  font-weight: 300 !important;
}
