.bioCard {
  width: 100%;
  height: 320px;
  background: white;
  margin: 2px 0;
  border-radius: 1rem;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 1s 1s ease-in-out !important;
  /* transition-delay: 0.5s; */
}

.bioCard .profilePic {
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  top: 3px;
  left: 3px;
  border-radius: 20px;
  z-index: 1;
  border: 0px solid linear-gradient(#083770, #287ad8, #020911);
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.bioCard .categoryBadgeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bioCard .categoryBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  text-transform: capitalize;
  background-color: white;
  color: #1970d5;
  font-size: small;
  border-radius: 8px;
}

.bioCard .profilePic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.bioCard .profilePic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.bioCard .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: rgba(0, 0, 0, 0.336);
  top: 80%;
  border-radius: 20px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.bioCard .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 180px;
}

.bioCard .bottom .content .name {
  display: block;
  font-size: 1.3rem;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

.bioCard .bottom .content .aboutMe {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.bioCard .bottom .bottomOfBottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bioCard .bottom .bottomOfBottom .socialIntrectionContainer {
  display: flex;
  gap: 1rem;
}

.bioCard .bottom .bottomOfBottom .socialIntrectionContainer svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.bioCard .bottom .bottomOfBottom .socialIntrectionContainer svg:hover {
  fill: #1970d5;
  transform: scale(1.2);
}

.bioCard .bottom .bottomOfBottom .button {
  background: white;
  color: #1970d5;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.bioCard .bottom .bottomOfBottom .button:hover {
  background: #1970d5;
  color: white;
}

.bioCard:hover {
  border-top-left-radius: 55px;
}

.bioCard:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  background: linear-gradient(#287add, #0f5fbb, #0d498d, #041324);

  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.bioCard:hover .profilePic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #1970d5;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.bioCard:hover .profilePic:hover {
  transform: scale(1.3);
  border-radius: 20px;
}

.bioCard:hover .profilePic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.bioCard:hover .profilePic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}
